<!-- DYNAMICALLY INSERTING CONTENT INTO NEWSFEED -->

$("#teachables-list div:visible:last").hide(1000);
$("#teachables-list").prepend("<div id='teachable-<%= @teachable.id %>'><%= @teachable.content %></div>");
